@import (reference) 'global.less';

.button() {
  border-radius: 1000px;
  border: solid;
  border-width: .border.weight[default];
  font-weight: .paragraph[font-weight];
  padding: .8em 1.5em;
}

.buttonSecondaryLight {
  .button;
  border-color: white;
  color: white;
}