@import 'yetti/global.less';

////////////////////////////////////////////////////////
// BORDER
////////////////////////////////////////////////////////

.border() {
  .weight() {
    default: 2px;
  }
}

////////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////////

.color() {
  black: #555;
  .grey() {
    medium: #555;
  }
}

////////////////////////////////////////////////////////
// GRID
////////////////////////////////////////////////////////

.grid() {
  .thirds() {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: var(--paddingHorizontal);
    
    @supports not (display: grid) {
      display: flex;

      @media .query.phone[default] {
        display: block;
      }
    }
  }
}

////////////////////////////////////////////////////////
// HEADINGS
////////////////////////////////////////////////////////

.heading() {
  font-weight: 500;

  .primary() {
    font-weight: .heading[font-weight];
    font-size: 6.5rem;
    line-height: 1.2em;
  }
}

////////////////////////////////////////////////////////
// MEDIA
////////////////////////////////////////////////////////

.backgroundFilter() {
  filter: brightness(.75);
}

.mediaBackground {
  position: absolute !important;
}

////////////////////////////////////////////////////////
// PARAGRAPH
////////////////////////////////////////////////////////

.paragraph() {
  font-family: 'Rubik',sans-serif;
  font-weight: 300;
  line-height: 1.3em;
}

////////////////////////////////////////////////////////
// WRAPS
////////////////////////////////////////////////////////

.wrapMedium {
  .wrap(
    @span: 10,
    @padding: default,
    @align: center
  );
}

.wrapMain {
  .wrap(
    @span: 12,
    @padding: default,
    @align: center
  );
}