@import 'yetti/global.less';

////////////////////////////////////////////////////////
// BORDER
////////////////////////////////////////////////////////

.border() {
  .weight() {
    default: 3px;
  }
}

////////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////////

.color() {
  black: #444;
  .grey() {
    medium: #555;
  }
}

////////////////////////////////////////////////////////
// HEADINGS
////////////////////////////////////////////////////////

.heading() {
  font-weight: 500;

  .primary() {
    font-weight: .heading[font-weight];
    font-size: 6.5rem;
    line-height: 1.2em;
  }
}

////////////////////////////////////////////////////////
// MEDIA
////////////////////////////////////////////////////////

.backgroundFilter() {
  filter: brightness(.75);
}

.mediaBackground {
  position: absolute !important;
}

////////////////////////////////////////////////////////
// PARAGRAPH
////////////////////////////////////////////////////////

.paragraph() {
  font-family: 'Rubik',sans-serif;
}