@import (reference) 'global.less';

.section {
  height: 65rem;
  max-width: 100%;
  background: .color[primary];
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content {
  margin: 0 auto;
  .padding.default;
  color: white;
}

.map {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: .1;
}