@import (reference) 'global.less';

////////////////////////////////////////////////////////
// INTRO
////////////////////////////////////////////////////////

.introCards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
  grid-gap: .padding[medium];
}

.introCardMedia {
  padding-bottom: 56%;
  margin-bottom: .padding[mediumSmall];
}