@import (reference) 'global.less';

.item {
  @media .query.laptop[above] {
    display: inline-block;
    font-size: .paragraph.secondary[font-size];
    height: var(--navMainHeight);
    display: inline-flex;
    align-items: center;
    color: var(--color);

    &:hover {
      .subMenu {
        display: block;
      }
    }

    & + .item {
      margin-left: .padding[mediumSmall];
    }
  }

  @media .query.desktop[below] {
    color: white;
    width: var(--menuMobileWidth);
    padding: 0 .padding[mediumSmall];
  }
}

.header {
  @media .query.desktop[below] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.itemIsExpanded {
  @media .query.desktop[below] {
    .subMenu {
      display: block;
    }
  }
}

.title {
  display: block;

  @media .query.laptop[above] {
    font-size: .paragraph.secondary[font-size];
  }

  @media .query.desktop[below] {
    font-size: .heading.tertiary[font-size];
    padding: .5em 0;

    &:hover {
      background: .color.primary[lighten];
    }
  }
}

.subMenu {
  display: none;

  @media .query.laptop[above] {
    position: absolute;
    top: 100%;
    background: .color[primary];
    padding: .padding[smallest] 0;
    min-width: 25rem;
    box-shadow: 0 0 .padding[extraSmall] 0 rgba(0,0,0,.1);
    transform: translateX(-50%);
    left: 50%;
  }
}

.subMenuToggle {
  @media .query.laptop[above] {
    width: 5px;
    height: 5px;
    border-radius: 1000px;
    background: var(--color);
    margin-left: .5em;
  }

  @media .query.desktop[below] {
    color: white;
    font-size: .heading.tertiary[font-size];
    margin-left: .padding[small];

    &:after {
      content: '+';
    }
  }
}