@import (reference) 'global.less';

.social {
  display: flex;
  align-items: center;

  @media .query.laptop[above] {
    margin-left: .padding[medium];
  }

  @media .query.desktop[below] {
    height: .padding[mediumLarge];
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.item {
  display: inline-block;

  &:hover {
    transform: scale(1.1);
  }

  & + .item {
    margin-left: .padding[extraSmall];
  }
}

.icon {
  height: .paragraph.secondary[font-size];

  path {
    fill: var(--color);

    @media .query.desktop[below] {
      fill: .color.primary[darker];
    }
  }
}