@import (reference) 'global.less';

.nav() {
  height: .padding[large];
}

.nav {
  height: .nav[height];
  padding: 0 var(--paddingHorizontal);
}

.navIsDocked {
  background: grey;
}

.navIsUndocked {
  background: yellow;
}