@import (reference) 'global.less';

.nav() {
  height: .padding[large];
}

.nav {
  height: var(--navMainHeight);
  padding: 0 var(--paddingHorizontal); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height .5s .ease[cubic],background .5s .ease[cubic];

  @media .query.phone[default] {
    --navMainHeight: 8rem;
  }

  --color: white;
  --navMainHeight: .padding[large];
}

.navIsDocked {
  background: none;

  @media .query.laptop[above] {
    .brandName {
      opacity: 0;
    }
  }
}

.navIsUndocked {
  background: white;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
  --color: .paragraph[color];

  @media .query.phone[above] {
    --navMainHeight: 8rem;
  }

  @media .query.laptop[above] {
    .brandLogo {
      top: calc((.brandLogo[height] * -1.5) ~'-' (.padding[extraSmall] * 2));
    }
  
    .brandName {
      opacity: 1;
    }
  }
}

.brandLogo() {
  background: white;
  padding: .padding[extraSmall];
  height: 15rem;
  position: absolute;
  top: 0;
  left: var(--paddingHorizontal);
  position: fixed;
  transition: top .5s .ease[cubic];

  @media .query.desktop[below] {
    display: none;
  }
}

.brandLogo {
  .brandLogo;
}

.brandName {
  color: var(--color);
  font-weight: .paragraph.bold[font-weight];
}